

.img {
width:100%;
  height: auto;
  border-radius:50%;
}
.myslides {
 border-radius:0.5cm;
default:none;

}

div {
  transition: width 2s, height 4s;
}
/* Container holding the image and the text */


.text-block {
 text-align: center;
  background-color: transparent;
  padding: 2px 16px;
  color: white;
font-size:40px;
position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
   
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
   background-color:transparent;
  padding: 2px 16px;
  color: white;
font-size:60px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

* {
  box-sizing: border-box;
}

/* Style inputs */
input[type=text],input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  border-radius:0.2cm;
}

.button {
background-color: #000033;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  border-radius:0.2cm;
 }

input[type=submit] {
  background-color: #000033;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  border-radius:0.2cm;
}

input[type=submit]:hover {
  background-color:#000033;
  border-radius:0.2cm;
}



/* Create two columns that float next to eachother */
.column4 {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
  position:relative5
  
}
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
  
  color:#000033;
  border-radius:0.5cm;
}



/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

.header {
  padding: 20px 0;
  background: repeating-linear-gradient(45deg, #f0f2ed, #f0f2ed 20px, #f8f4eb 20px, #f8f4eb 40px);
  box-shadow: 0 4px 6px rgba(0,0,0,.2);  
}

.logo-box {
  float: left;
  margin-right: 20px;
}
.logo-box a {
  outline: none;
  display: block;
}
.logo-box img {display: block;}
nav {
  overflow: hidden;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
}
nav li {
  display: inline-block;
  margin-left: 25px;
  height: 70px;
  line-height: 70px;
  transition: .5s linear;
}
nav a {
  text-decoration: none;
  display: block;
  position: relative;
  color: #868686;
  text-transform: uppercase;
}
nav a:after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 15px;
  background: #868686;
  transition: width .5s linear;  
}
nav a:hover:after {width: 100%;}

@media screen and (max-width: 660px) {
  header {text-align: center;}
  .logo-box {
    float: none;
    display: inline-block;
    margin: 0 0 16px 0;
  }
  ul {float: none;}
  nav li:first-of-type {margin-left: 0;}
}
@media screen and (max-width: 550px) {
nav {overflow: visible;}
nav li {
  display: block;
  margin: 0;
  height: 40px;
  line-height: 40px;
}
nav li:hover {background: rgba(0,0,0,.1);}
nav a:after {content: none;}
}

/* columns */
.column1 {
  float: left;
  width: 25%;
  background-image: linear-gradient(to bottom right, #E1F5FE,#FAFAFA );
    border-radius: 25px;
	color:#000066 ;
}

.column5 {
  float: left;
  width: 10%;
  }

/* Clear floats after the columns */
.row1:after {
  content: "";
  display: table;
  clear: both;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* Responsive layout - when the screen is less than 600px wide, make the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column1 {
    width: 100%;
  }
}

/* columns */
.column2 {
  float: center;
  width: 90%;
  background-image: linear-gradient(to bottom right, #E1F5FE,#FAFAFA );
    border-radius: 25px;
	color:#000066 ;
}

/* Clear floats after the columns */
.row2:after {
  content: "";
  display: table;
  clear: both;
}

.avatar5 {
  vertical-align: middle;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

/* Responsive layout - when the screen is less than 600px wide, make the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column2 {
    width: 100%;
  }
}

